* {
  all: unset;
}
window {
  background-color: #ffffff;
	color: #000000;
  font-family: Museo Sans;
}

box {
  padding: 2px;
  margin: 2px;
}

.header {
  margin-top: -10px;
}

.title {
  font-family: Verdana;
  font-size: 32px;
  color: #000000;
  font-weight: bold;
}

.titleSmall {
  font-family: Verdana;
  font-size: 24;
  color: #000000;
  font-weight: bold;
}

.arrow {
  font-family: Verdana;
  font-size: 32;
  color: #ff0000;
}


.label {
  font-size: 22px;
  color: #000000;
  font-weight: bold;
}

.gauge {
  background-color: #c3c3c3;
  color: #ff0000;
}

.percentText {
  color: #000000;
  font-weight: bold;
  font-size: 56px;
}

.percentTextSmall {
  color: #000000;
  font-weight: bold;
  font-size: 32px;
}

.icon {
  font-family: Verdana;
  font-size: 50px;
  color: #000000;
  font-weight: bold;
}

.iconSmall {
  font-family: Verdana;
  font-size: 40px;
  color: #000000;
  font-weight: bold;
}

.cpu {
  padding: 10px;
  border: 8px solid #a0a0a0;
  border-radius: 10px;
  min-height: 220px;
}

.gpu {
  padding: 10px;
  border: 8px solid #a0a0a0;
  border-radius: 10px;
  min-height: 220px;
}

.ram {
  padding: 10px;
  border: 8px solid #a0a0a0;
  border-radius: 10px;
  min-height: 150px;
}

.cpu scale trough {
  background-color: #c3c3c3;
  min-height: 25px;
  border-radius: 20px;
}

.cpu scale trough highlight {
  background-color: #ff0000;
  color: #000000;
  border-radius: 20px;
}

.gpu scale trough {
  background-color: #c3c3c3;
  min-height: 25px;
  border-radius: 20px;
}

.gpu scale trough highlight {
  background-color: #ff0000;
  color: #000000;
  border-radius: 20px;
}

.ram scale trough {
  background-color: #c3c3c3;
  min-width: 100px;
  min-height: 20px;
  border-radius: 15px;
}

.ram scale trough highlight {
  background-color: #ff0000;
  color: #000000;
  border-radius: 15px;
}

.ssd scale trough {
  margin-left: 20px;
}


