global-language-servers = ["codebook"]

[language-server.copilot]
command = "copilot-language-server"
args = ["--stdio"]

[language-server.copilot.config]
editorInfo = { name = "Helix", version = "25.01" }
editorPluginInfo = { name = "helix-copilot", version = "0.1.0" }

[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.rust-analyzer.config.files]
watcher = "server"

[language-server.tailwind-language-server]
command = "tailwindcss-language-server"
args = ["--stdio"]

[[language]]
name = "rust"
language-servers = ["rust-analyzer", "copilot"]

[[language]]
name = "tsx"
language-servers = ["typescript-language-server", "tailwind-language-server"]

[[language]]
name = "just"
auto-format = true

[[language]]
name = "toml"
auto-format = true
