# This file contains Gitu's default configuration.
# It is possible to override settings with an equivalent file at:
# `~/.config/gitu/config.toml`

[general]
always_show_help.enabled = false
confirm_quit.enabled = false

[style]
# fg / bg can be either of:
# - a hex value: "#707070"
# - an ansi color name: "light #61AFEF"
# - an ansi color index: "255"
# - "reset" will set the terminal's default foreground / background color.

# 'mods' can be any combination of (multiple values separated by '|'):
# "BOLD|DIM|ITALIC|UNDERLINED|SLOW_BLINK|RAPID_BLINK|REVERSED|HIDDEN|CROSSED_OUT"

# Example style config values:
# section_header = { fg = "#808080" }
# section_header = { bg = "light #98C379", mods = "UNDERLINED|ITALIC" }

section_header = { fg = "#E06C75" }
file_header = { fg = "#61AFEF" }
hunk_header = { fg = "#E5C07B" }

diff_highlight.tag_old = { fg = "#E06C75", mods = "BOLD" }
diff_highlight.tag_new = { fg = "#98C379", mods = "BOLD" }
diff_highlight.unchanged_old = { mods = "DIM" }
diff_highlight.unchanged_new = { mods = "DIM" }
diff_highlight.changed_old = { fg = "#E06C75" }
diff_highlight.changed_new = { fg = "#98C379"}

syntax_highlight.enabled = true
syntax_highlight.attribute = { fg = "#E5C07B" }
syntax_highlight.comment = { fg = "#3E4452" }
syntax_highlight.constant_builtin = {}
syntax_highlight.constant = {}
syntax_highlight.constructor = {}
syntax_highlight.embedded = {}
syntax_highlight.function_builtin = { fg = "#56B6C2" }
syntax_highlight.function = { fg = "#61AFEF" }
syntax_highlight.keyword = { fg = "#C678DD" }
syntax_highlight.number = {}
syntax_highlight.module = { fg = "#56B6C2" }
syntax_highlight.property = {}
syntax_highlight.operator = {}
syntax_highlight.punctuation_bracket = {}
syntax_highlight.punctuation_delimiter = {}
syntax_highlight.string_special = { fg = "#E5C07B" }
syntax_highlight.string = { fg = "#E5C07B" }
syntax_highlight.tag = {}
syntax_highlight.type = { fg = "#E5C07B" }
syntax_highlight.type_builtin = { fg = "#E5C07B" }
syntax_highlight.variable_builtin = {}
syntax_highlight.variable_parameter = {}

cursor = { fg = "#61AFEF" }
selection_bar = { fg = "#61AFEF", mods = "DIM" }
selection_line = { mods = "BOLD" }
# You may want to set `selection_area.bg` to a nice background color.
# Looks horrible with regular terminal colors, so is therefore not set.
selection_area = {}

hash = { fg = "#5C6370" }
branch = { fg = "#98C379" }
remote = { fg = "#E06C75" }
tag = { fg = "#E5C07B" }

command = { fg = "#61AFEF", mods = "BOLD" }
active_arg = { fg = "#E06C75", mods = "BOLD" }
hotkey = { fg = "#C678DD" }

[bindings]
root.quit = ["q", "esc"]
root.refresh = ["g"]
root.toggle_section = ["tab"]
root.move_up = ["k", "up"]
root.move_down = ["j", "down"]
root.move_up_line = ["ctrl+k", "ctrl+up"]
root.move_down_line = ["ctrl+j", "ctrl+down"]
root.move_prev_section = ["alt+k", "alt+up"]
root.move_next_section = ["alt+j", "alt+down"]
root.move_parent_section = ["alt+h", "alt+left"]
root.half_page_up = ["ctrl+u"]
root.half_page_down = ["ctrl+d"]
root.show_refs = ["Y"]
root.show = ["enter"]
root.discard = ["K"]
root.stage = ["s"]
root.unstage = ["u"]
root.copy_hash = ["y"]

root.help_menu = ["h", "?"]
help_menu.quit = ["q", "h", "?", "esc"]

root.branch_menu = ["b"]
branch_menu.checkout = ["b"]
branch_menu.checkout_new_branch = ["c"]
branch_menu.delete = ["K"]
branch_menu.quit = ["q", "esc"]

root.commit_menu = ["c"]
commit_menu.--all = ["-a"]
commit_menu.--allow-empty = ["-e"]
commit_menu.--verbose = ["-v"]
commit_menu.--no-verify = ["-n"]
commit_menu.--reset-author = ["-R"]
commit_menu.--signoff = ["-s"]
commit_menu.commit = ["c"]
commit_menu.commit_amend = ["a"]
commit_menu.commit_extend = ["e"]
commit_menu.commit_fixup = ["f"]
commit_menu.commit_instant_fixup = ["F"]
commit_menu.quit = ["q", "esc"]

root.fetch_menu = ["f"]
fetch_menu.--prune = ["-p"]
fetch_menu.--tags = ["-t"]
fetch_menu.fetch_all = ["a"]
fetch_menu.quit = ["q", "esc"]
fetch_menu.fetch_elsewhere = ["e"]

root.log_menu = ["l"]
log_menu.log_current = ["l"]
log_menu.log_other = ["o"]
log_menu.quit = ["q", "esc"]
log_menu.-n = ["-n"]
log_menu.--grep = ["-F"]

root.merge_menu = ["m"]
merge_menu.--ff-only = ["-f"]
merge_menu.--no-ff = ["-n"]
merge_menu.merge_abort = ["a"]
merge_menu.merge_continue = ["c"]
merge_menu.merge = ["m"]
merge_menu.quit = ["q", "<esc>"]

root.pull_menu = ["F"]
pull_menu.--rebase = ["-r"]
pull_menu.pull_from_push_remote = ["p"]
pull_menu.pull_from_upstream = ["u"]
pull_menu.pull_from_elsewhere = ["e"]
pull_menu.quit = ["q", "esc"]

root.push_menu = ["P"]
push_menu.--force-with-lease = ["-f"]
push_menu.--force = ["-F"]
push_menu.--no-verify = ["-h"]
push_menu.--dry-run = ["-n"]
push_menu.push_to_push_remote = ["p"]
push_menu.push_to_upstream = ["u"]
push_menu.push_to_elsewhere = ["e"]
push_menu.quit = ["q", "esc"]

root.rebase_menu = ["r"]
rebase_menu.--keep-empty = ["-k"]
rebase_menu.--preserve-merges = ["-p"]
rebase_menu.--committer-date-is-author-date = ["-d"]
rebase_menu.--autosquash = ["-a"]
rebase_menu.--autostash = ["-A"]
rebase_menu.--interactive = ["-i"]
rebase_menu.--no-verify = ["-h"]
rebase_menu.rebase_interactive = ["i"]
rebase_menu.rebase_abort = ["a"]
rebase_menu.rebase_continue = ["c"]
rebase_menu.rebase_elsewhere = ["e"]
rebase_menu.rebase_autosquash = ["f"]
rebase_menu.quit = ["q", "esc"]

root.remote_menu=["M"]
remote_menu.add_remote=["a"]
remote_menu.remove_remote=["K"]
remote_menu.rename_remote=["r"]
remote_menu.quit = ["q", "esc"]

root.reset_menu = ["X"]
reset_menu.reset_soft = ["s"]
reset_menu.reset_mixed = ["m"]
reset_menu.reset_hard = ["h"]
reset_menu.quit = ["q", "esc"]

root.revert_menu = ["V"]
revert_menu.--edit = ["-e"]
revert_menu.--no-edit = ["-E"]
revert_menu.--signoff = ["-s"]
revert_menu.revert_abort = ["a"]
revert_menu.revert_continue = ["c"]
revert_menu.revert_commit = ["V"]
revert_menu.quit = ["q", "esc"]

root.stash_menu = ["z"]
stash_menu.--all = ["-a"]
stash_menu.--include-untracked = ["-u"]
stash_menu.stash = ["z"]
stash_menu.stash_index = ["i"]
stash_menu.stash_worktree = ["w"]
stash_menu.stash_keep_index = ["x"]
stash_menu.stash_pop = ["p"]
stash_menu.stash_apply = ["a"]
stash_menu.stash_drop = ["k"]
stash_menu.quit = ["q", "esc"]
